<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>
    <script type="text/javascript" src="__JS__/jquery-1.7.2.min.js"></script>
    <!-- Bootstrap -->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/top.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div id="top">
  	<a href="__MODULE__/Index/content"><span class='glyphicon glyphicon-home'></span></a>&nbsp;当前位置：<a href="__URL__/index">用户管理</a>&nbsp;>>&nbsp;<a href="__URL__/savePass?id=<{$id}>">修改密码</a>
  </div>
<div id="all" >
<form action="__URL__/savePassHandle" method="post">
	<table class="table table-bordered table-hover" >
		<tr>
			<td align="right" width='30%'>用户账号：</td>
			<td><{$user.username}></td>
		</tr>
		<tr>
			<td align="right">新密码：</td>
			<td>
				<input class="form-control" type="password" name="password" >
			</td>
		</tr>
		<tr>
			<td align="right">确认密码：</td>
			<td>
				<input class="form-control" type="password" name="password2">
			</td>
		</tr>
		<input type="hidden" name="id" value="<{$id}>">
		<tr id="last">
			<td colspan='2' align="center" id="submitp">
				<input class="btn btn-success btn-sm" type="submit" value="保存添加" id="submit">
			</td>
		</tr> 
		
	</table>
	
</form>
		
</div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) 
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed 
    <script src="__JS__/bootstrap.min.js"></script>-->
  </body>
</html>