<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>
   
    <!-- Bootstrap -->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/top.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
    th,td{ 
      text-align:center;
    }
    </style>
    <script type="text/javascript">
      function del(cid,id){ 
        if(confirm('确定要删除吗？')){ 
          window.location = "__URL__/delBlog?cid="+cid+"&id="+id;
        }
      }
    </script>
  </head>
 
  <body>
  <div id="top">
      <a href="__MODULE__/Index/content"><span class='glyphicon glyphicon-home'></span></a>&nbsp;当前位置：<a href="__URL__/index">栏目管理</a>&nbsp;>>&nbsp;<a href="__URL__/index">栏目列表</a>&nbsp;>>&nbsp;<a href="__URL__/blogList?cid=<{$cid}>">查看栏目</a></if>
    </div>
  <div id='all'>
    <table class="table table-bordered table-hover" >

      <tr class="firstTr">
          <th width="5%">ID</th>
          <th width="37%">标题</th>
          <th width="12%">所属分类</th>
          <th width="10%">作者</th>
          <th width="15%">发布时间</th>
          <th width="8%">点击次数</th>
          <th width="13%">操作</th>
      </tr>
      <foreach name='list' item='v'>
        <tr>
          <td><{$v.id}></td>
          <td><{$v.title}></td>
          <td><{$v.cate}></td>
          <td><{$v.author}></td>
          <td><{$v.time|date='Y-m-d H:i:s',###}></td>
          <td><{$v.click}></td>
          <td>
              [<a href="__URL__/updateBlog?cid=<{$v['cid']}>&id=<{$v['id']}>">修改</a>]
              [<a href="javascript:del(<{$v['cid']}>,<{$v['id']}>)">删除</a>]
            </if>
          </td>
        </tr>
      </foreach>
    </table>
    <div class=" pages"><{$page}></div>
      
  </div>  
  <script src="__JS__/jquery-1.7.2.min.js"></script>
  <script src="__JS__/bootstrap.min.js"></script>
  </body>
</html>