<!DOCTYPE html>
<html lang="zh-CN">
  <head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>
    <script type="text/javascript" src="__JS__/jquery-1.7.2.min.js"></script>
    <!-- Bootstrap -->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/top.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      option{
        color:#000;
        background:#eee;
      }
      tr.trdisplay{
        display:none;
      }
    </style>
    <script type="text/javascript">
      $(function(){
        $('input:radio[name="attr"]').click(function(){
          var val=$('input:radio[name="attr"]:checked').val();
          if(val == 4){
            $('#linkDiv').css('display','inline-block');
            $('input[name=href]').attr('disabled',false);
            $('#banner').addClass('trdisplay');
          }else{
            $('#linkDiv').css('display','none');
            $('input[name=href]').attr('disabled',true);
            $('#banner').removeClass('trdisplay');
          }
        });
      });
    </script>
  </head>

<body>
  <div id="top">
      <a href="__MODULE__/Index/content"><span class='glyphicon glyphicon-home'></span></a>&nbsp;当前位置：<a href="__URL__/index">栏目管理</a>&nbsp;>>&nbsp;<a href="__URL__/updateCate?id=<{$id}>"><if condition="$cate['pid']">修改子栏目<else/>修改一级栏目</if></a>
      
    </div>
  <div id='all'>
    <form action="__URL__/updateCateHandle" method='post' enctype="multipart/form-data">
      <table class="table table-bordered table-hover ">
        <tr>
          <td align="right" width="30%">父级栏目名称：</td>
          <td>
            <if condition="$cate['pid']">
              <select name="pid" style="width:150px" >
                <foreach name='pcates' item='v'>
                    <option  value="<{$v['id']}>"
                      <if condition="$v['id'] eq $cate['pid']"> selected </if> <if condition="$v['attr'] neq  3"> disabled style='color:#777;background:#fff'</if>   > 
                      <{$v['name']}> 
                    </option>
                </foreach>
                
              </select>
            <else/>
              &nbsp;&nbsp;&nbsp;一级栏目
            </if>
          </td>
        </tr>
        <tr>
          <td align="right">栏目名称：</td>
          <td>
            <input class="form-control" type="text" name="name" value='<{$cate.name}>'>
          </td>
        </tr>

       <!--  <tr>
          <td align="right">栏目属性：</td>
          
          <if condition="$cate['pid']">
            <td>
              <label><input type="radio" name="attr" value="1" <if condition="$cate['attr'] eq 1">checked</if> >列表</label>&nbsp;&nbsp;&nbsp;
              <label><input type="radio" name="attr" value="2" <if condition="$cate['attr'] eq 2">checked</if>>文章</label>
            </td>
          <else/>  
            <td>
              <label><input type="radio" name="attr" value="3" <if condition="$cate['attr'] eq 3">checked</if>>栏目</label>&nbsp;&nbsp;&nbsp;
              <br>
              <div style="background:#eee;display:inline-block;">  
                 <label><input type="radio" name="attr" value="1" <if condition="$cate['attr'] eq 1">checked</if>>列表</label>&nbsp;&nbsp;&nbsp;
                <label><input type="radio" name="attr" value="2" <if condition="$cate['attr'] eq 2">checked</if>>文章</label>&nbsp;&nbsp;&nbsp;
                <span style="display: inline-block;"> <label>(无子栏目)</label></span>
              </div>
            </td>
          </if>
        </tr> -->
        <tr>
          <td align="right">栏目属性：</td>
          
          
          <td>
              <label><input type="radio" name="attr" value="3" <if condition="$cate['attr'] eq 3">checked</if>>栏目</label>&nbsp;&nbsp;&nbsp;
              <br>
              <div style="background:#eee;display:inline-block;">  
                 <label><input type="radio" name="attr" value="1" <if condition="$cate['attr'] eq 1">checked</if>>列表</label>&nbsp;&nbsp;&nbsp;
                <label><input type="radio" name="attr" value="2" <if condition="$cate['attr'] eq 2">checked</if>>文章</label>&nbsp;&nbsp;&nbsp;
                <span style="display: inline-block;"> <label>(无子栏目)</label></span>
              </div>
              <br>
              <if condition="$cate['attr'] eq 4">  <!-- 链接 -->
                <label><input type="radio" name="attr" value="4" id="link" checked>链接</label>&nbsp;&nbsp;&nbsp;
                <div id="linkDiv" style="display:inline-block">
                  <input style="display:inline-block;width:200px"  class="form-control" type="text" name="href" value="<{$cate['src']}>"><span style="color:red">*请填写链接</span>
                </div>
              <else/>
                <label><input type="radio" name="attr" value="4" id="link">链接</label>&nbsp;&nbsp;&nbsp;
                <div id="linkDiv" style="display:none">
                  <input style="display:inline-block;width:200px"  class="form-control" type="text" name="href" value="<{$cate['src']}>" disabled='true'><span style="color:red">*请填写链接</span>
                </div>
              </if>
              <!-- <label><input type="radio" name="attr" value="4" id="link" <if condition="$cate['attr'] eq 4">checked</if> >链接</label>&nbsp;&nbsp;&nbsp;
                <div id="linkDiv" <if condition="$cate['attr'] eq 4">style="display:inline-block"<else/>style="display:none"</if> >
                <input style="display:inline-block;width:200px"  class="form-control" type="text" name="href" value="<{$cate['src']}>" <if condition="$cate['attr'] eq 4">disabled='false'<else/>disabled='true'</if>><span style="color:red">*请填写链接</span>
                </div> -->
              
          </td>
          
        </tr>

        <tr>
          <td align="right">排序：</td>
          <td>
            <input class="form-control" type="text" name="sort"value="<{$cate.sort}>">
          </td>
        </tr>

        <if condition="!$pcate">
          <tr id="banner"  <if condition="$cate['attr'] eq 4">class='trdisplay'</if> >
            <td align="right">图片展示：</td>
            <td>
              <div id="photo" style="display:none">
                <input type="file" name="photo" style="display:inline-block"><span style="color:red">（图片大小1000*220像素）</span>
              </div>
              <img src="__PUBLIC__/Uploads/<{$cate.src}>" width='600px' height='132px'>
              <a class="btn btn-info btn-sm" id="change" style="margin:10px">更换图片</a>
            </td>
          </tr>
        </if>
        <tr>
          <td colspan="2" align="center" id="submitp"> 
            <input type="hidden" name="id" value="<{$id}>" >
            <input class="btn btn-success btn-sm" type="submit" value="保存修改" id="submit">
          </td>
        </tr>
    </form>
  </div>
  <script type="text/javascript">
      $(function(){
        $('#change').click(function(){
          $(this).css('display','none').prev().css('display','none');
          $('#photo').css('display','block');
        });
      })
     
    </script>
  </body>
</html>