*{margin:0;padding:0;border:0;
    }
/*body{background-color: #E5E5E5;}*/
.newslist{
    width: 20%;
    height: 28%;
    position: absolute;
    top:220px;
    left: 20%;
    text-align: left;
    font-size: 15px;
    background-color: #F4F4F4;
    color: #111111;
    overflow: hidden;
}
.topdec{
    width: 100%;
    height: 17%;
    color: white;
    font-size: medium;
    text-align: center;
    line-height:40px;
    background-color: rgb(207,1,7);
    border-radius: 12px 12px 0px 0px;
}
.flowpic{
    width: 20%;
    height: auto;
    position: absolute;
    top:220px;;
    left: 40.5%;
    border-radius: 10px 10px 10px 10px ;
    background-color: navajowhite;

}
.notice{
    width: 20%;
    height: 28%;
    position: absolute;
    top:220px;
    left: 61%;
    background-color:#F4F4F4;
    color: #111111;
    overflow: hidden;
}
.topimg{
    position: absolute;
    top: 0px;
}
.toplink{
    position: absolute;
    z-index:12;
    border-radius: 15px;
}
footer{
    clear: both;
    width: 100%;
    line-height: 25px;
    font-family: "微软雅黑";
    position: absolute;
    color: #000000;
    text-align: center;
}
.indexfoot{
    top: 700px;
}
.detfoot{
    top: 1100px;
}
/*.footer{
    text-align: center;
    background-color: #fff;
    position: fixed;
    bottom: 0;
}*/
.fixed-bottom {position: fixed;bottom: 0;width:100%;}
a{
    text-decoration: none;
    color: #111111;
}
.detail{
    position: absolute;
    top:210px;
    left: 530px;
    width: 700px;
    background-color: ;
}
.side{
    background-color: #31b0d5;
    width: 235px;
    height: 500px;
    position: absolute;
    left: 280px;
    top: 210px;
}
body {
    font-family: arial, serif;
    font-size:12px;
}
#nav {
    line-height: 30px;  list-style-type: none; background:red;
}
#nav a {
    display: block; width: 100px; text-align:center;
}
#nav a:link  {
    color:#666; text-decoration:none;
}
#nav a:visited  {
    color:#666;text-decoration:none;
}
#nav a:hover  {
    color:#FFF;text-decoration:none;font-weight:bold;
}
#nav li {
    float: left; width: 100px; background:#ff2222;
}
#nav li a:hover{
    background:#999;
}
#nav li ul {
    line-height: 27px;  list-style-type: none;text-align:left;
    left: -999em; width: 180px; position: absolute;
}
#nav li ul li{
    float: left; width: 180px;
    background: #F6F6F6;
}
#nav li ul a{
    display: block; width: 156px;text-align:left;padding-left:24px;
}
#nav li ul a:link  {
    color:; text-decoration:none;
}
#nav li ul a:visited  {
    color:#666;text-decoration:none;
}
#nav li ul a:hover  {
    color:#F3F3F3;text-decoration:none;font-weight:normal;
    background:#C00;
}
#nav li:hover ul {
    left: auto;
}
#nav li.sfhover ul {
    left: auto;
}
#content {
    clear: left;
}
li{
    color: white;
}
.links{
    position: absolute;
    left: 61%;
    top:440px;
    width: 20%;
    height: auto;
    background-color: #F4F4F4;
}
.sidebar{

    width: 200px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    height: 400px;
    position: absolute;
    top: 230px;
    left: 300px;
}
.sidetxt{
    color: #111111;
}
.show{
    width: 600px;
    height: 800px;
    position: absolute;
    top: 240px;
    left: 600px;
    border:1.5px solid #949494;
    font-size: 17px;

    font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif;
    /*scrollBar-face-color:green;
    scrollBar-3dLight-color:orange;
    scrollBar-darkshadow-color:blue;
    scrollBar-shadow-color:yellow;
    scrollBar-arrow-color:purple;
    scrollBar-track-color:black;
    scrollBar-base-color:pink;*/
    font-weight: bold;
}
.showtit{

}
.activities{
    position: absolute;
    top:440px;
    left: 40.5%;
    width: 20%;
    height: auto;
    border-radius: 8px;
    background-color: #E8E8E8;
}
img{
    border-radius: 3px;
}
.jieshao{
    text-align: center;
    white-space:nowrap;
}
.piclinks{
    width: 20%;
    height: auto;
    position: absolute;
    top: 440px;
    left: 20%;
}
#rollCon{width: 80%;text-align: center;display: block;overflow: hidden;color: black;height: 35%;position: absolute;top: 55%;left: 10%;}
#rollSubject{height: auto;}
#rollCopy{height: auto;}