<include file="Public:head" />
<br>
<div class="container row">
<div class="newslist">
    <!--<div class="topdec"><a href="<{:U('Lists/index?cid=1')}>" style="color: white"><b>新闻动态</b>>>></a></div>
    <div><middle>
        <volist name="newstit" id="vo">
        <p style="display:none;"><{$b=$vo.id}></p>
        <a href="<{:U('Show/index?id='.$b)}>" ><{$vo['title']}></a><br><br>
    </volist>
    </middle></div>-->
    <div class="topdec" ><a href="<{:U('Lists/index?cid=1')}>" style="color: white"><b>新闻动态</b>>>></a></div>
    <marquee behavior="scroll" direction="up" scrollamount="4.5" onmouseover=this.stop() onmouseout=this.start()><middle>
        <volist name="newstit" id="vo">
            <p style="display:none;"><{$b=$vo.id}></p>
            <a href="<{:U('Show/index?id='.$b)}>" ><b><{$vo['title']}></b></a><br><br>
        </volist>
    </middle></marquee>
</div>
<div class="flowpic">

    <!--<div id="myCarousel" class="carousel slide">
        &lt;!&ndash; 轮播（Carousel）指标 &ndash;&gt;
       &lt;!&ndash; <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0"
                class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>&ndash;&gt;
        &lt;!&ndash; 轮播（Carousel）项目 &ndash;&gt;
        <div class="carousel-inner">
            <div class="item active">
                <img src="__PUBLIC__/images/toppic_1.png" width="300px" height="200px" alt="First slide" class="topimg">
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/toppic_1.png" width="300px" height="200px" alt="Second slide" class="topimg">
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/toppic_2.png" width="300px" height="200px" alt="Third slide" class="topimg">
            </div>
        </div>
        &lt;!&ndash; 轮播（Carousel）导航 &ndash;&gt;
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;</a>
    </div>-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2500">
        <!-- 轮播（Carousel）指标 -->
        <!--<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>-->
        <!-- 轮播（Carousel）项目 -->
        <div style="position: absolute;left: 40%;top: -26px;z-index: 2;color: #2F4F4F;font-size: 17px;font-weight: bold;">学生活动</div>
        <div class="carousel-inner">
            
            <div class="item active">
                <img src="__PUBLIC__/images/1.png" alt="First slide">
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/2.png" alt="Second slide">
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/3.png" alt="Third slide">
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/4.png" alt="Second slide">
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/5.png" alt="Second slide">
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/6.png" alt="Second slide">
                <div class="carousel-caption"></div>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">&lsaquo;
        </a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;
        </a>
    </div>
</div>
<div class="notice">
    <div class="topdec" ><a href="<{:U('Lists/index?cid=2')}>" style="color: white"><b>公告栏</b>>>></a></div>
    <marquee behavior="scroll" direction="up" scrollamount="4" onmouseover=this.stop() onmouseout=this.start()><middle>
        <volist name="noticetit" id="vo">
            <p style="display:none;"><{$b=$vo.id}></p>
            <a href="<{:U('Show/index?id='.$b)}>"><b><{$vo['title']}></b></a><br><br>
        </volist>
    </middle></marquee>
</div>
</div>
<div class="container">
<div class="piclinks">
    <a href="http://sauqjj.com/"> <img src="__PUBLIC__/images/rightdown/1-1.gif" alt="特色情景剧" class="img-responsive"></a>
    <a href="<{:U('Show/showdet?cid=3')}>"> <img src="__PUBLIC__/images/rightdown/2-1.gif" alt="" class="img-responsive"></a>
    <a href="<{:U('Lists/index?cid=4')}>"> <img src="__PUBLIC__/images/rightdown/3-1.gif" alt="" class="img-responsive"></a>
</div>
<div class="activities">
    <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="3000">
        <!-- 轮播（Carousel）指标 -->
        <!--<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>-->
        <!-- 轮播（Carousel）项目 -->
        <div style="position: absolute;left: 40%;top: -26px;z-index: 2;color: #2F4F4F;font-size: 17px;font-weight: bolder;">学院风采</div>
        <div class="carousel-inner" style="white-space:nowrap;">
            
            <div class="item active">
                <img src="__PUBLIC__/images/xia/1.png" alt="First slide">
                <center><span class="jieshao" style="text-align: center"></span></center>
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/xia/2.png" alt="Second slide">
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/xia/3.png" alt="Third slide">
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/xia/4.png" alt="Second slide">
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/xia/5.png" alt="Second slide">
                <div class="carousel-caption"></div>
            </div>
            <div class="item">
                <img src="__PUBLIC__/images/xia/6.png" alt="Second slide">
                <div class="carousel-caption"></div>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel1"
           data-slide="prev">&lsaquo;
        </a>
        <a class="carousel-control right" href="#myCarousel1"
           data-slide="next">&rsaquo;
        </a>
    </div>
</div>
<div class="links">
    <div class="topdec"><b>教学资源</b></div>
    <a href="http://www.moe.edu.cn/"><img src="__PUBLIC__/images/links/friendlink1-1.png" class="img-responsive"></a>
    <a href="https://www.sinoss.net/index.html"> <img src="__PUBLIC__/images/links/friendlink2-1.png" class="img-responsive"></a>
    <a href="http://www.npopss-cn.gov.cn/"><img src="__PUBLIC__/images/links/friendlink3-1.png" class="img-responsive"></a>
    <a href="http://www.stuln.com/"><img src="__PUBLIC__/images/links/friendlink4-1.png" class="img-responsive"></a>
    <a href="http://www.upln.cn/"><img src="__PUBLIC__/images/links/friendlink5-1.png" class="img-responsive"></a>

</div>
</div>
</body>
<footer class="indexfoot" >
    <a href="http://www.sau.edu.cn">沈航官网</a> |
    <a href="http://i.sau.edu.cn">数字沈航</a> |
    <a href="http://lib.sau.edu.cn">沈航图书馆</a><br>
    <a href="mailto:316433179@qq.com" style="color: #232323; text-decoration: none;">Power by dlink </a><br>
    版权所有 沈阳航空航天大学马克思主义学院&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;辽宁省沈阳市沈北新区道义南大街37号  联系电话：89724408
    <br>&nbsp;
</footer>