<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">

    <title></title>

 
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/top.css" />

    <js file='__JS__/ueditor/ueditor.config.js' />  <!-- 配置文件 -->
    <js file='__JS__/ueditor/ueditor.all.min.js' />  <!-- 编辑器源码文件 -->
    <script type="text/javascript" >
      //window.UEDITOR_HOME_URL = '__JS__/ueditor/';
      window.onload = function(){
        //window.UEDITOR_CONFIG.initialFrameWidth = 1200;  //指定编辑器宽度
        window.UEDITOR_CONFIG.initialFrameHeight = 400;  //指定编辑器高度
        
        var ue = UE.getEditor('content');  // 实例化编辑器
        //editor.setContent('<h1>建国</h1>');
      }
  </script>
  </head>

<body>
  <div id="top">
      <a href="__MODULE__/Index/content"><span class='glyphicon glyphicon-home'></span></a>&nbsp;当前位置：<a href="__URL__/index">文章管理</a>&nbsp;>>&nbsp;<a href="__URL__/InfoList">简介文章</a>&nbsp;>>&nbsp;
      <if condition='$blog[id]'>
        <a href="__URL__/addInfo?cid=<{$cid}>">修改文章</a>
      <else/>
        <a href="__URL__/addInfo?cid=<{$cid}>">发布文章</a>
      </if>
  </div>
  <div id="all">
    <form action="__URL__/addInfoHandle" method='post'>
      <table class="table table-bordered table-hover" >
        <tr>
          <td align="right" width='30%'>栏目名称：</td>
          <td>
            <if condition="$cate['pname']"><{$cate.pname}> -- </if><{$cate.name}>
          </td>
        </tr>
        <tr>
          <td align="right" width='30%'>作者：</td>
          <td>
            <if condition="$blog[id]"><{$blog.author}><input type="hidden" name="author" value='<{$blog.author}>'>
            <else/><{$_SESSION["username"]}><input type="hidden" name="author" value='<{$_SESSION["username"]}>'>
            </if> 
          </td>
        </tr>
        <tr>
          <td align="right" width='30%'>数据更新日期：</td>
          <td>
            <input class="form-control" style="width:180px" type="text" name="time" <if condition="$blog['id']">value="<{$blog.time|date='Y-m-d H:i:s',###}>"<else/>value="<{$time|date='Y-m-d H:i:s',###}>"</if>>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center"> 
            <textarea name="content" id="content"><{$blog.content}></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center"> 
            <input type="hidden" name="title" value="<{$cate.name}>">
            <input type="hidden" name="cid" value="<{$cid}>">
            <input type="hidden" name="id" value="<{$blog['id']}>">
            <input class="btn btn-success btn-sm" type="submit" value=<if condition="$blog['id']">"保存修改"<else/>"发布文章"</if>>
          </td>
        </tr>
      </table>
    </form>
  </div>

  </body>
</html>