$icon-gears: "\e02b";
$icon-envelope: "\e601";
$icon-bookmark: "\e600";
$icon-user2: "\e602";
$icon-user3: "\e603";
$icon-home: "\e900";
$icon-home3: "\e902";
$icon-newspaper: "\e904";
$icon-pencil: "\e905";
$icon-pencil2: "\e906";
$icon-image: "\e90d";
$icon-images: "\e90e";
$icon-books: "\e920";
$icon-file-text: "\e922";
$icon-file-picture: "\e927";
$icon-folder-open: "\e930";
$icon-folder-plus: "\e931";
$icon-folder-minus: "\e932";
$icon-price-tag: "\e935";
$icon-price-tags: "\e936";
$icon-qrcode: "\e938";
$icon-address-book: "\e944";
$icon-envelop: "\e945";
$icon-location2: "\e948";
$icon-compass: "\e949";
$icon-calendar: "\e953";
$icon-bubbles: "\e96c";
$icon-bubble2: "\e96e";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-user-plus: "\e973";
$icon-user-minus: "\e974";
$icon-user-check: "\e975";
$icon-search: "\e986";
$icon-zoom-in: "\e987";
$icon-zoom-out: "\e988";
$icon-enlarge: "\e989";
$icon-key: "\e98d";
$icon-key2: "\e98e";
$icon-lock: "\e98f";
$icon-unlocked: "\e990";
$icon-wrench: "\e991";
$icon-equalizer: "\e992";
$icon-equalizer2: "\e993";
$icon-gift: "\e99f";
$icon-bin: "\e9ac";
$icon-switch: "\e9b6";
$icon-power-cord: "\e9b7";
$icon-clipboard: "\e9b8";
$icon-list-numbered: "\e9b9";
$icon-list: "\e9ba";
$icon-tree: "\e9bc";
$icon-menu3: "\e9bf";
$icon-menu4: "\e9c0";
$icon-link: "\e9cb";
$icon-attachment: "\e9cd";
$icon-bookmark2: "\e9d2";
$icon-bookmarks: "\e9d3";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-blocked: "\ea0e";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-shuffle: "\ea30";
$icon-paragraph-justify: "\ea7a";
$icon-indent-increase: "\ea7b";
$icon-indent-decrease: "\ea7c";
$icon-mail: "\ea83";
$icon-mail2: "\ea84";
$icon-mail3: "\ea85";
$icon-mail4: "\ea86";
$icon-picassa: "\eaa4";
$icon-file-pdf: "\eada";
$icon-file-word: "\eadc";
$icon-file-excel: "\eadd";
