<include file="..\head" />
<body>
<div class="show" style="text-align: center">
    <h3 style="text-align: center">师资队伍</h3><br>
    院长：<a href="<{:U('Show/index?id=307')}>">赵冰梅</a><br>
    直属党支部书记：<a href="<{:U('Show/index?id=294')}>">吕健</a><br>
    副院长：<a href="<{:U('Show/index?id=298')}>">曲洪波</a>、<a href="<{:U('Show/index?id=310')}>">周琳娜</a><br>
    办公室主任：<a href="<{:U('Show/index?id=311')}>">仇梦欢</a><br>
    办公室成员：<a href="<{:U('Show/index?id=308')}>">赵丹</a><br>
    <br>
    马克思主义中国化教研室主任：<a href="<{:U('Show/index?id=297')}>">齐艳霞</a><br>
    成员：<a href="<{:U('Show/index?id=291')}>">李莹</a>、<a href="<{:U('Show/index?id=293')}>">卢海燕</a>、<a href="<{:U('Show/index?id=292')}>">刘春霞</a>、<a href="<{:U('Show/index?id=301')}>">王旭</a><br>
    <br>
    马克思主义基本原理教研室主任：<a href="<{:U('Show/index?id=287')}>">傅畅梅</a><br>
    成员：<a href="<{:U('Show/index?id=289')}>">金梦兰</a>、<a href="<{:U('Show/index?id=288')}>">姜爱华</a>、<a href="<{:U('Show/index?id=286')}>">白蔚</a><br>
    <br>
    德育教研室主任：<a href="<{:U('Show/index?id=303')}>">岳宏杰</a><br>
    成员：<a href="<{:U('Show/index?id=290')}>">李金华</a>、<a href="<{:U('Show/index?id=295')}>">马新凤</a>、<a href="<{:U('Show/index?id=299')}>">田克</a>、<a href="<{:U('Show/index?id=309')}>">郑晓娜</a><br>
    <br>
    文学艺术教研室主任：<a href="<{:U('Show/index?id=310')}>">周琳娜</a><br>
    成员：<a href="<{:U('Show/index?id=312')}>">郭小伟</a>、<a href="<{:U('Show/index?id=304')}>">张彩霞</a>、<a href="<{:U('Show/index?id=306')}>">张晓茜</a><br>
    <br>
    心理研究所主任：<a href="<{:U('Show/index?id=305')}>">张澜</a><br>
    成员：<a href="<{:U('Show/index?id=296')}>">欧阳辉</a>、<a href="<{:U('Show/index?id=302')}>">闫华</a>、<a href="<{:U('Show/index?id=300')}>">田雪</a><br>


</div>
</body>
<include file="..\footer" />